@import url('https://fonts.googleapis.com/css2?family=Galada&family=Potta+One&display=swap');

.registerpage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://getwallpapers.com/wallpaper/full/d/3/6/1457021-cool-tropical-desktop-wallpaper-1920x1080-for-phones.jpg');
  height: 85vh;
}
.box-container {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 90vh;
  }
  
  .box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .header {
    margin-bottom: 30px;
  }
  
  .formLabel {
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }
  
  .formControl {
    margin-bottom: 15px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }
  
  .formCheck {
    margin-bottom: 20px;
  }
  
  .submitButton {
    background-color: #727672;
    border-color: #747674;
    color: #f37523;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .socialButton {
    margin-right: 10px;
  }
  
  .socialButton:last-child {
    margin-right: 0;
  }
  

  .leftColumn {
    background-color: rgb(41, 54, 43, 0.8);
    background-size: cover;
    background-position: center;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 50vh;
    padding: 50px;
  }
  
  .rightColumn {
    background-color: rgba(242, 237, 228, 0.9);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50vh;
    padding-top: 70px;
    padding-left: 20px;
  }
  

  .leftHeader {
    font-size: 50px; 
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Potta One", system-ui;
    font-weight: 600;
    font-style: normal;
    color: #fafafa;
    text-align: left;
    
  }
  
  .leftParagraph {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

  .social-login{
   
    font-style: italic;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
 
  .social-login .btn {
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size: 13px;
    
  }
  
  .social-login .btn:last-child {
    margin-right: 0;
   
  }
  
  
  .form-control {
    border-radius: 10px; 
    border: 1px solid #ced4da; 
    width: 92%;
    
  }
  
  
  .btn1 {
    background-color:#507356;
    border-color: #507356;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700;
    font-size: 13px;
    color: white;
    width: 85px;
    height: 33px;
    text-align: center;
  }
  
  
  .btn1:hover {
    background-color: #f37523;
    border-color: #f37523;
    color: white;
  }

  .btn3 {
    background-color: #f37523; 
    border-color: #f37523;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700;
    font-size: 13px;
    box-shadow: #727672 0 0 10px(0, 0, 0, 0.15);
    color: white;
    border-radius: 20px;
    width: 85px;
    height: 33px;
    text-align: center;
  }

  .btn3:hover {
    background-color: #507356;
    border-color: #507356;
    color: white;
  }

  
  .form-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }

  .form-check-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }

/* Responsive styles */
@media (max-width: 768px) {
  .registerpage {
    height: auto; 
    padding-bottom: 20px; 
  }
  .box-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .leftColumn{
    height: auto; 
    border-radius: 0;
    padding: 20px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .rightColumn {
    height: auto; 
    border-radius: 0; 
    padding: 20px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }
  .leftParagraph {
    padding-top: 70px; 
    font-size: 16px; 
  }
  .social-login {
    text-align: left; 
  }
  .btn1, .btn3 {
    width: 100%; 
  }
  .box {
    padding: 20px; 
  }
  .leftHeader {
    font-size: 30px; 
  }
}

