@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

.main {
    height: 220vh max-content;
    width: 100% max-content;
    background-color: #f2ede4;
    font-family: "Wix Madefor Text", sans-serif;
    padding-bottom: 20px;
}

.article1 {
    padding-top: 20px;
}

.travel-layout {
    background: url('https://wallpapers.com/images/featured/4k-oaax18kaapkokaro.jpg') no-repeat center center;
    background-size: cover;
    height: 65vh max-content;
    width: 80%;
    color: #fff;
    margin-top: 80px;
    border-radius: 20px;
}

.header-section {
    background-color: rgba(41, 54, 43, 0.9);
    border-radius: 20px;
    width: 40%;
  
}

.btn-orange {
    background-color: #f37523;
    color: #fff;
    border-radius: 30px;
    width: 250px;
    height: 40px;
    margin: 5px;
    font-weight: bold;
}

.btn-orange:hover {
    background-color: #f2ede4;
    color: #f37523;
    font-weight: bold;
}

.btn-green {
    background-color: #4caf50;
    color: #fff;
}

.bar-search {
    padding-top: 50px;
    margin: 50px;
}

.search-bar {
    background-color: #dfd9ce;
    height: 12vh max-content;
    width: auto;
}

.search-bar .input-group-text {
    font-weight: bold;
    color: #333;
    background-color: #f2ede4;
}

.search-bar .form-control:focus {
    box-shadow: none;
}

.search-bar .form-control{
    font-size: 15px;
    height: fit-content;
}

.search-bar .vr {
    background-color: #f37523;
    width: 12px;
    height: auto;
}

.search-bar .btn-success {
    background-color: #000000;
    border: none;
}

.header-section h1 {
  font-size: 60px;
  font-weight: bold;  
  margin-top: 100px; 
  margin-left: 40px; 
}

.header-section p,
.header-section button {
    margin-left: 40px;
    font-size: 15px; 
    width: auto;
}

.category {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 12px;
  margin-right: 10px;
}

.category-container {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 30px; 
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 100px;
    margin-right: 100px;
}


.category-header {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 30px;
    background-color: #f2ede4;
  }
  
  
  .box-card {
    flex: 0 0 auto;
    min-width: 150px;
    max-width: 280px;
    margin: 0 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
    border-radius: 40px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    border: #f2ede4;
    background-color: rgb(80, 115, 86);
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  
  .card-title {
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
    text-align: center;
  }
  
  



@media (max-width: 768px) {
    .travel-layout {
        margin-top: 100px; 
        width: 100%;
    }

    .header-section {
        width: 100%;
        background-color: rgba(41, 54, 43, 0.7);
    }

    .header-section h1 {
      font-size: 25px;
      font-weight: bold; 
      margin-top: 150px;
      margin-left: 2px; 
    }

    .header-section p,
    .header-section button {
        margin-left: 2px;
        font-size: 15px; 
        width: auto;
    }

    .bar-search {
        margin: 20px; 
    }

    .search-bar {
        flex-direction: column;
        align-items: stretch; 
    }

    .search-bar .vr {
        display: none; 
    }

    .search-bar .input-group {
        margin-bottom: 10px; 
    }
    .box-card {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 12px;
        margin-right: 10px;
    }


    .category-container {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 30px; 
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

}