@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: "Wix Madefor Text", sans-serif

}
.navbar{
    background-color: rgb(242, 237, 228,0.9);
    font-weight: 800;
    font-size: 15px;
    height: 60px;
    width: 100%;
    font-family: "Wix Madefor Text", sans-serif;
}

.nav-link.hover {
    color: #f37523;
}

.nav-style {
    height: 35px;
    width: 200px;
}
.btn{
    font-size: 12px;
    background-color: #f37523;
    color: white;
    font-weight:bolder;
    height: 30px;
    width: 150px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
}
.nav-link-active {
    color: #f37523 !important; /* Change the color to orange for the active link */
  }

 @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: spin 1s infinite linear;
}



@media (max-width: 768px) {
    .navbar {
        height: auto;
    }
    .navbar-brand, .nav-link {
        font-size: 20px; /* Make the font smaller */
    }

    .nav {
        font-size: 12px; /* Adjust nav font size for mobile */
    }

    .nav-style {
        font-size: 12px; /* Adjust button font size for mobile */
        padding: .375rem .75rem; /* Bootstrap default padding for buttons */
    }

    .navbar-toggler {
        font-size: 14px; /* Adjust the toggler icon size if needed */
    }
}

/* You might also want to adjust the height of the navbar itself for mobile */
.navbar {
    height: auto; 
    /* Auto height to accommodate the toggler and brand */
}

